.toggle-button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 19px;
    width: 23px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
}

.toggle-button:focus {
    outline: none;
}

.toggle-button__line {
    width: 20px;
    background: #fff;
    height: 2px;
}

@media screen and (min-width: 321px) {
    .toggle-button {
        display: none;
    }
}

@media screen and (max-width: 320px) {
    .toggle-button {
        display: normal;
    }
}
